@model Web.Models.ViewModels.Wishes.WishViewModel

@{
    ViewBag.Title = "Szczegóły";
}

<br />
<div class="container">
    <div class="panel panel-default">
        <div class="text-center">
            <h2>@Model.Content</h2>
            <p><small>@Model.Creator, @Model.Created</small></p>
        </div>
        <div class="panel-body">
            @foreach(var comment in Model.Comments.OrderByDescending(comment => comment.Created))
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">@comment.Content</h4>
                        <p class="pull-right"><small>@comment.Creator, @comment.Created</small></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
    @Html.ActionLink("Powrót do listy", "Index")
</p>
