@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Projekt DOT</h1>
    <p class="lead">Jest to aplikacja internetowa pozwalająca zalogowanym użytkownikom dodawać swoje życzenia oraz komentować wpisy innych.<br />
    Strona operata jest o <b>ASP.NET MVC</b>. <br />
    Połączenie z bazą danych realizowane jest za pomocą <b>EF</b> w podejściu Code First.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Action("GetNewestWishesPartial", "Wishes")
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Obserwowane</h3>
            </div>
            <div class="panel-body">
                @foreach (var wish in ViewBag.Observed)
                {
                    <a style="color: inherit" href="@Url.Action("Details", "Wishes", new { id = wish.Id })">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>@wish.Content</p>
                                <p class="pull-right"><small>@wish.Created</small></p>
                            </div>
                        </div>
                        </a>
                        }
</div>
        </div>
    </div>
    <div class="col-md-4">
       @Html.Action("GetNewestCommentsPartial", "Comments")
    </div>
</div>